{{ if isset .Site.Params "latitude" }}
  {{ if isset .Site.Params "longitude" }}
<section id="section-venue" class="section-wrapper  gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>THE VENUE</h1>

          <p>Credibly recaptiualize cutting-edge functionalities vis-a-vis intuitive growth strategies. Appropriately evolve open-source potentialities via goal-oriented e-business. Enthusiastically target go forward scenarios and visionary "outside the
            box" thinking. Professionally administrate cost effective sources without corporate convergence.</p>
        </div>
      </div>
    </div>
    <!-- /.row-->

    <div class="row">
      <div class="col-md-12">
        <div class="hidden">
          <input id="gmap-lat" value="{{ .Site.Params.latitude }}" />
          <input id="gmap-lng" value="{{ .Site.Params.longitude }}" />
          <input id="gmap-marker" value="{{ .Site.BaseURL }}img/marker.png" />
          {{ if isset .Site.Params "direction" }}
            <input id="gmap-dir" value="{{ .Site.Params.direction }}" />
          {{ else }}
            <input id="gmap-dir" value="{{ .Site.Params.latitude }},{{ .Site.Params.longitude }}" />
          {{ end }}
        </div>
        <div id="googleMap"></div>
      </div>
    </div>
    <!-- .row-->

    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>STAY INFORMED</h2>
          <p>Don't miss the event!</p>
        </div>
        <form id="contactForm" class="subscribe-form form-inline" action="sendemail.php" method="POST">
          <div class="form-group">
            <label for="emailTwo" class="sr-only">Email</label>
            <input type="email" class="form-control input-lg" required="" id="emailTwo" name="email" placeholder="Enter your email address">
          </div>
          <button type="submit" class="btn btn-primary btn-lg">SUBSCRIBE</button>
        </form>
      </div>
    </div>

  </div>
</section>
{{ end }}
{{ end }}
