<div class="container">

    <div class="row">

        <div class="col-md-8">

            <div>
              {{ .Content }}
            </div>
        </div>
        <div class="col-md-4 gray-bg">
          <h2>{{ .Site.Params.form.title }}</h2>
          {{ partial "widgets/submission-form.html" . }}
          {{/* <a href="mailto:info@montenegrodolphinproject.nl?Subject=Conference%20abstract%20submission" class="btn btn-primary">Send your abstract now</a> */}}
        </div>
    </div>
    <!-- /.row -->

</div>
