{{ if isset .Site.Params "schedule" }}
{{ if .Site.Params.partners.enable }}

<section id="section-schedule" class="section-wrapper section-ajenda">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>AGENDA</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="session">
          <time>8:30AM</time>
          <h2>Doors Open</h2>
        </div>
        <!-- .session -->

        <div class="session">
          <time>9:30 - 9:40AM</time>
          <h2>Opening Remarks</h2>
          <h3>Fiona Kuhn <span>CO-FOUNDER & CEO, MES</span></h3>
        </div>
        <!-- .session -->

        <div class="session">
          <time>9:50 - 10:05AM</time>
          <h2>Focus on the story: how publishers and brands succeed on today's internet.</h2>
          <h3>Marie Jung <span>HEAD OF PARTNERSHIPS, MES</span></h3>
        </div>
        <!-- .session -->

        <div class="session">
          <time>10:10 - 10:35AM</time>
          <h2>Keynote Presentation</h2>
          <h3>Zoe Kühn <span>CO-FOUNDER & CEO,, BOOSTER</span></h3>
        </div>
        <!-- .session -->


      </div>
      <div class="col-md-4">
        <div class="session">
          <time>11:15 - 1:35PM</time>
          <h2>Brand Innovator Spotlight</h2>
          <h3>Tim Rams <span>DIRECTOR, CONTENT MARKETING, FIXS</span></h3>
          <h3>Daniel Fuchs <span>DIRECTOR OF MEDIA SERVICES, MENGO</span></h3>
          <h3>Hannah Keller <span>CO-FOUNDER, LOLO</span></h3>
        </div>
        <!-- .session -->

        <div class="session">
          <time>1:35 - 2:20PM</time>
          <h2>Fireside Chat: Making Native Work - An Agency Perspective</h2>
          <h3>Fiona Kuhn <span>CO-FOUNDER & CEO, MES</span></h3>
        </div>
        <!-- .session -->

        <div class="session">
          <time>2:20 - 3:20PM</time>
          <h2>Lunch Break</h2>
        </div>
        <!-- .session -->


      </div>
      <div class="col-md-4">
        <div class="session">
          <time>3:20PM - 4PM</time>
          <h2>Native Creatives Winners Presentation</h2>
          <h3>Johann Graf <span>VP Sales, MES</span></h3>
        </div>
        <!-- .session -->

        <div class="session">
          <time>4:05 - 5:30PM</time>
          <h2>Case Study: XYR</h2>
          <h3>Jan Pfeiffer <span>HEAD OF COMMUNICATIONS, TOT</span></h3>
          <h3>Marie Ilsner <span>PRESIDENT, PADDA</span></h3>
          <h3>Hannes Beck <span>MANAGING DIRECTOR, DEP</span></h3>
        </div>
        <!-- .session -->


        <div class="session">
          <time>5:30 - 6:00PM</time>
          <h2>Cocktail and Networking Party</h2>
        </div>
        <!-- .session -->


      </div>
    </div>
  </div>

</section>
{{end}}
{{end}}
