{{ if isset .Site.Params "speakers" }}
{{ if .Site.Params.speakers.enable }}
{{ if gt (len .Site.Data.speakers) 0 }}
  <section id="section-speaker" class="section-wrapper team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h1>{{ .Site.Params.speakers.title}}</h1>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
          {{ range .Site.Data.speakers }}
          <div class="col-sm-6 col-md-3">
            <figure class="thumbnail">
              <a href="#"><img src="{{ .image}}" class="img-fluid" alt="{{.organisation}}"></a>
              <figcaption class="caption text-center">
                <h3>{{title .name }}
                  <small>{{.organisation}}</small>
                </h3>
              </figcaption>
            </figure>
          </div>
          {{ end }}
          <!-- /.col-sm-6 -->
      </div>
    </div>
    <!-- /.container -->
  </section>
{{end}}
{{end}}
{{end}}
