{{ if isset .Site.Params "latitude" }}
  {{ if isset .Site.Params "longitude" }}
<section id="section-venue" class="section-wrapper">
  <div class="container">
    <!-- /.row-->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>Venue</h1>
          <p class="lead">The conference will be held Albatros hotel, located at less than 1000 m from the center of Ulcinj, the town of the tumultuous past and glorious tradition, one of the most picturesque and most attractive town on the whole Adriatic. Ulcinj is a champion of Montenegro – 217 sunny days during the year! Warm water (above 26°С) guarantees bathing season from April until November. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div hidden>
          <input id="gmap-lat" value="{{ .Site.Params.latitude }}" />
          <input id="gmap-lng" value="{{ .Site.Params.longitude }}" />
          <input id="gmap-marker" value="{{ .Site.BaseURL }}img/marker.png" />
          {{ if isset .Site.Params "direction" }}
            <input id="gmap-dir" value="{{ .Site.Params.direction }}" />
          {{ else }}
            <input id="gmap-dir" value="{{ .Site.Params.latitude }},{{ .Site.Params.longitude }}" />
          {{ end }}
        </div>
        <div id="googleMap"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>STAY INFORMED</h2>
          <p class="lead">Don't miss the event!</p>
        </div>
        <form id="contactForm" class="subscribe-form form-inline justify-content-center" action="sendemail.php" method="POST">
          <div class="form-group">
            <label for="emailTwo" class="sr-only">Email</label>
            <input type="email" class="form-control input-lg" required="" id="emailTwo" name="email" placeholder="Enter your email address">
          </div>
          <button type="submit" class="btn btn-primary btn-lg">SUBSCRIBE</button>
        </form>
      </div>
    </div>

  </div>
</section>
{{ end }}
{{ end }}
